.prompt {
    border: 0px solid #FFFFFF;
    text-align: justify;
    direction: ltr;
}

.button {
    text-align: center;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
}

.answer {
    border: 0px solid #FFFFFF;
    overflow: auto;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    justify-items: center;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
}